
body {
  background-color: #f0f0f0;
}

ul {
  padding: 0 0 0.7em 0;
}

li {
  list-style-type: none;
  width: 100%;
}

.input-label {
  font-size: 0.7em;
  font-style: italic;
  text-align: left;
  width: 100%;
  min-height: 1.8em;
  line-height: 0.9em;
  padding-left: 10px;
}

.form-control {
  font-size: 0.8em;
}

input[type=checkbox] {
  width: 30px;
  float: left;
  font-size: 0.7em;
  margin-top: 1.2em;
}

input[type=submit] {
  display: none;
}

label {
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  border-radius: 0 0 4px 4px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  background-color: #fff;
  color: #666
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms linear;
}
.hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms linear;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

div.label {
  float:left;
  width:70%;
  text-align: left;
  border-bottom: 1px solid #dfdfdf
}

div.value {
  float:left;
  width:30%;
  text-align: right;
  border-bottom: 1px solid #dfdfdf
}

div.column {
  font-size: 0.9em;
  float:left;
  text-align: left;
  width: 29em;
  padding: 0.25em
}

div.res-block {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 4px;
  background-color: #f8f8f8;
}

form>ul {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

ul.left {
  padding-right: 0.2em;
}

ul.right {
  padding-left: 0.2em;
}

.checkbox-label {
  min-height: 2.6em;
  margin-bottom: 1em
}

.checkbox-label>label {
  border: none;
  margin-top: 1.1em;
  font-weight: normal;
  color: #666;
  background-color: transparent;
  padding: 0;
}
