.App {
  margin: 0.5em;
}

body {
  background-color: #f0f0f0;
}

ul {
  padding: 0 0 0.7em 0;
}

li {
  list-style-type: none;
  width: 100%;
}

.inputLabel {
  font-size: 0.7em;
  font-style: italic;
  text-align: left;
  width: 100%;
  min-height: 1.8em;
  line-height: 0.9em;
  padding-left: 10px;
}

input, select {
  font-size: 0.8em;
}

input[type=checkbox] {
  width: 50px
}

label {
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  border-radius: 0 0 4px 4px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  background-color: #fff;
  color: #666
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms linear;
}
.hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms linear;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

div.label {
  float:left;
  width:70%;
  text-align: left
}

div.value {
  float:left;
  width:30%;
  text-align: right
}

div.column {
  padding: 0.5em;
  font-size: 0.9em;
  float:left;
  text-align: left;
  width: 40em
}

div.res-block {
  display: inline-block;
  width: 100%;
  padding-bottom: 1em;
}

div.results {
  width: 20em
}

form>ul {
  float: left;
  width: 50%;
}